.chain-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.block-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-button {
    align-self: flex-end;
}